*/.settings/**
.project
.classpath
.settings
/target/*
log/*
.idea
*.iml
*.log

data/target/classes/com/ip/db/entity/
data/target/classes/com/ip/db/mapper/
data/target/classes/generatorConfig.xml
data/target/classes/mapping/
data/target/generated-sources/
