<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>IPV4 IPV6 精确查询 精确定位 地址库_dev123.cc</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="https://cdn.ipip.net/loveapp/ipip/www_v2/theme/js/jquery.min.js" charset="UTF-8"></script>
</head>
<body>

<ul class="layui-nav" lay-filter="navTop">
    <li id="ipv1Id" class="layui-nav-item layui-this"><a href="ipv1.html">ip地址查询</a></li>
    <!--    <li class="layui-nav-item "><a href="">工具</a></li>-->
    <li id="aboutId" class="layui-nav-item"><a href="about.html">关于&计划</a></li>
</ul>


<div style="padding-left:  100px;padding-right: 100px;padding-top: 51px;">
    <h2>关于DEV123</h2><br>
    <p>
        DEV123，现在以及未来会一直提供ipv4，ipv6的精确查询，也将致力不断完善我们的服务。
        <br>
        <br>
    </p>
    <h2>DEV123计划</h2><br>
    1.2019年5月提供ipv4以及ipv6的精确查询<br> <br>
    2.2019年6月底会提供ipv4的精确地址库下载链接<br> <br>
</div>


<script>


    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e9df8d8c44e2c16bf9cde0e4377062e5";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    $("#ipv1Id").removeClass("layui-this")
    $("#aboutId").addClass("layui-this")


</script>


</body>
</html>
