
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ip精确定位</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="ipv6,ipv4归属地查询,精确定位" />
    <meta name="keywords" content="ipv6 ip ipv4 归属地 查询 精确定位" />
    <link href="favicon.ico" rel="shortcut icon" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/v4.css" rel="stylesheet" />
    <link href="/css/title.css" rel="stylesheet" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?e9df8d8c44e2c16bf9cde0e4377062e5";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
