<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>IPV4 IPV6 精确查询 精确定位 地址库_dev123.cc</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="https://cdn.ipip.net/loveapp/ipip/www_v2/theme/js/jquery.min.js" charset="UTF-8"></script>

</head>
<body>

<ul class="layui-nav" lay-filter="navTop">
    <li id="ipv1Id"  class="layui-nav-item layui-this"><a href="ipv1.html">ip地址查询</a></li>
    <!--    <li class="layui-nav-item "><a href="">工具</a></li>-->
    <li id="aboutId" class="layui-nav-item"><a href="about.html">关于&计划</a></li>
</ul>



<div style="padding-left:  100px;padding-right: 100px;padding-top: 51px;">
    <!--<form class="layui-form" >-->
    <div class="layui-form-item"  style="text-align:center;">
        <div class="layui-input-block">
            <input type="text" name="ip" id="ipInput" required  lay-verify="required" placeholder="如：8.8.8.8或者2c0f:f548:ffff:ffff:ffff:ffff:ffff:ffff" autocomplete="off" class="layui-input"
                                   style="width: 50%;margin:  1px auto;">
            <button id ="btn_Submit" class="layui-btn layui-btn-radius" lay-submit lay-filter="formDemo" style="margin-top:21px;width: 100px; ">查询</button>
        </div>
    </div>
    <!--</form>-->

    <table class="layui-table" lay-size="lg">
        <colgroup>
            <col width="30">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>数据项</th>
            <th>数据信息</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>当前ip</td>
            <td id="ipId"></td>
        </tr>

        <tr>
            <td>运营商</td>
            <td id = "orgId"></td>
        </tr>
        <tr>
            <td>as信息</td>
            <td >
                <span id = "asId" ></span>
            </td>
        </tr>

        <tr>
            <td>时区</td>
            <td><span id = "timezoneId"> </span>
            </td>
        </tr>
        <tr>
            <td>经纬度</td>
            <td ><span id="pointId"></span>
            </td>
        </tr>
        <tr>
            <td>地址</td>
            <td id="addressId"></td>
        </tr>
        <tr>
            <td>邮政编码</td>
            <td id="zipId"></td>
        </tr>

        </tbody>
    </table>
</div>




<script>
    // $("#navTopId").load("./topNav.html");

    $(function () {
        search();
        $("#btn_Submit").click(function () {
            var s = $("#ipInput").val();

            search(s);
        })
    })

    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e9df8d8c44e2c16bf9cde0e4377062e5";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    $("#aboutId").removeClass("layui-this")
    $("#ipv1Id").addClass("layui-this")


</script>


<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;
//监听导航点击
        element.on('nav(navTop)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>

<script>
    function search(ip) {
        if(ip ==undefined) {
            ip ='';
        }
        $.ajax({
            type: "GET",
            url: "/ip/get/v1?ip=" + ip,
            dataType: "json",
            success: function (data) {
                if (data.code == 1000) {
                    var detail = data.detial;

                    $("#ipInput").val(data.ip);
                    $("#ipId").text(detail.ip);
                    $("#addressId").text(detail.address);
                    $("#orgId").text(detail.org);
                    $("#timezoneId").text(detail.timezone);
                    $("#pointId").text(detail.point);
                    $("#asId").text(detail.as);
                    $("#zipId").text(detail.zip);

                }
            }
        });
    };

</script>


</body>
</html>
