<div class="inner">
    <div class="fl">
        <a href="./ipv1.html" class="act">IP查询</a>
        <a href="javascript:;" class="popTools">工具</a>
        <a href="#">关于</a>
    </div>
    <style>


        .pro0 dl {
            float: left;
            width: 160px;
            height: 336px;
        }

        .pro0 dl dt {
            font-weight: 700;
            text-align: center;
            border-bottom: 2px solid #c5c3aa;
            height: 40px;
            line-height: 35px;
            color: #eaeaea;
            font-size: 16px;
        }

        .pro0 dl dt a {
            line-height: inherit;
        }

        .pro0 dl dd:first-child {
            margin-top: 10px;
        }

        .pro0 dl dd {
            height: 25px;
            text-align: center;
        }

        .pro0 dl dd a {
            color: #c7d2e0;
            line-height: 25px;
            font-size: 14px;
        }
    </style>

    </div>
</div>
